/*全局样式的统一入口文件*/
@import "./reset.styl"

.tc{
  text-align center
}
.w100{
  width: 100%;
}
.w80{
  width: 80vw;
}

.mg0{
  margin:0!important;
}

.mt10{
  margin-top:10px!important;
}

.mb10{
  margin-bottom:10px!important;
}

.md-bottom-bar{
  .md-ripple{
    justify-content: center;
  }
}


// .container{
//   .wrapper{

//   } 
// }
